<html>

<body>
    <h1>Add User Page</h1>
    <form action="/userDataPage/addUser" method="POST">
        username: <input type="text" name="username"></br> </br>
        password: <input type="password" name="password"></br></br>
        create Date: <input type="date" name="date"></br></br>
        Number Of Transactions: <input type="number" name="transactions"></br></br>
        <input type="submit" value="Save">
    </form>

</body>

</html>