<!DOCTYPE html>
<html>

<head>
  <title></title><br />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>welcome to the movie system</h1><br /><br />
  <h3>please login before start :</h3><br /><br />
  <a href="/login">Login</a>

</body>

</html>