<html>

<body>
    <h1>Menu Page </h1>
    <h3> Welcome <%= username %> <br></h3>

    <a href="/searchMovie">Search a Movie </a> <br>
    <a href="/createMovie">Create a Movie </a>

    <% if(username==="Admin" ) { %>
        <div>
            <a href="/usersManagementPage">Edit Users</a>
        </div>
        <% } %>

</body>

</html>